*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}
/* menu */

header {
  position: relative;
  width: 100%;
  height: auto;
}
.menu {
  position: relative;
}
ul {
  position: fixed;
  display:inline-block;
  top: 15px;
  right: 0;
  z-index: 999;
}
.menu li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 14px;
  margin: 10px 10px 0px 0px;
  border-radius: 30px;
}
a:hover {
  box-shadow: 5px 3px 5px black;
}

/* scarpe */

#red {
  position: relative;
  height: 100vh;
  background-color: red;
  text-align: center;
}
#green {
  position: relative;
  height: 100vh;
  background-color: green;
  text-align: center;
}
#yellow {
  position: relative;
  height: 100vh;
  background-color: yellow;
  text-align: center;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  position: absolute;
  text-transform: uppercase;
  font-size: 2em;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#red h2,#green h2 {
  color: yellow;
}
#yellow h2 {
  color: green;
}
